<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="mt-3 h4 fw-bold text-black">Formulário de Cadastro</div>
        </div>
    </div>

    <hr>
    <form class="container bg-body-tertiary p-2" [formGroup]="formGroupPosto">
        <div class="mb-3 row" *ngIf="isUpdate">
            <label for="inputID" class="col-sm-2 col-form-label">ID:</label>
            <div class="col-sm-1">
                <input type="number" class="form-control bg-secondary-subtle border-secondary text-center ps-4"
                    id="inputID" formControlName="id" readonly>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputName" class="col-sm-2 col-form-label">Posto:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control border-secondary" id="inputName" formControlName="name">
            </div>
        </div>

        <div class="mt-4">
            <button type="button" class="btn bg-primary text-white me-2" (click)="save()">Salvar</button>
            <button type="button" class="btn bg-danger text-white" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>